<mat-sidenav-container class="sidenav-container" style="height: 100vh;">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" routerLinkActive="active-link">Início</a>
      <a mat-list-item [routerLink]="'/reports'" routerLinkActive="active-link">Relatórios</a>
      <a mat-list-item [routerLink]="'/expenses'" routerLinkActive="active-link">Despesas</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Cashflow</span>
    </mat-toolbar>

    <div style="padding: 16px;">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
